# Chapter 6 : Financial Time Series

In [1]:
import numpy as np
import pandas as pd

In [3]:
# First steps with DataFrame class
df = pd.DataFrame([10, 20, 30, 40], columns=['numbers'],
                  index=['a', 'b', 'c', 'd'])
df

   numbers
a       10
b       20
c       30
d       40

In [7]:
# diffrent operations
df.index
df.columns
df.ix['c']
df.ix[['a', 'd']]
df.ix[df.index[1:3]]
df.sum()
df.apply(lambda x: x ** 2)
df ** 2
df['floats'] = (1.5, 2.5, 3.5, 4.5) # add a column

df

   numbers  floats
a       10     1.5
b       20     2.5
c       30     3.5
d       40     4.5

In [9]:
df['names'] = pd.DataFrame(['Yves', 'Guido', 'Felix', 'Francesc'], # new column with indexes
                           index=['d', 'a', 'b', 'c'])
df

   numbers  floats     names
a       10     1.5     Guido
b       20     2.5     Felix
c       30     3.5  Francesc
d       40     4.5      Yves